html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.test {
    position: relative;
    float: right;
    background: red;
}

.rightCount
{
    position: absolute;
    background: green;
    top: 400px;
    left: 800px;
    padding: 10px;
}

.leftCount
{
    position: absolute;
    background: red;
    top: 400px;
    left: 20px;
    padding: 10px;
}

.middle
{
    position: absolute;
    background: black;
    left: 46vw;
    top:0;
    padding: 2vw;
    height: 92.9vh;
}

.start
{
    display: none;
    width: 5%;
    position: absolute;
    top: 47vh;
    left: 42vw;
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    z-index: 10000;
    cursor: pointer;

}

#myCanvas
{
    z-index: 10;
}

.mainApp
{
    display: none;
}

body
{
    background-image: url("../img/bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
